.callbot-icon {
  position: fixed;
  bottom: 40px; /* 화면 하단에서 20px 떨어진 위치 */
  right: 40px; /* 화면 오른쪽에서 20px 떨어진 위치 */
  border-radius: 20%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

.call-icon {
  position: absolute;
  bottom: 20px;
  left: -20px;
  background-color: transparent;
  border-radius: 50%; /* 원형으로 변경 */
  padding: 3px; /* 배경과의 여백 */
}
